<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boss.bobi.activeInfo.mapper.ActiveInfoMapper">

    <resultMap id="BaseResultMap" type="com.boss.bobi.activeInfo.entity.ActiveInfo">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="src" column="src" jdbcType="VARCHAR"/>
            <result property="insertTime" column="insert_time" jdbcType="TIMESTAMP"/>
            <result property="videoPoster" column="video_poster" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,title,content,
        src,insert_time,video_poster
    </sql>
</mapper>
